{% extends "base.html" %}
{% load static %}
{% block page_content %}

<br>
<br>
<br>
<br>
{% for info in about %}
    
    <div class="row">
    <div class="col-md-3">
        <img src="{{ info.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-9">
        <h3>{{ info.author }}</h3>
        <br>
        {{ info.description }}
    </div>
    </div>
{% endfor %}
<br>


<a href="{% url 'project_index' %}" class="btn btn-primary">
    My Projects ->
</a>
<br> <br>

<a href="{% url 'blog_index' %}" class="btn btn-primary">
    My Blog ->
</a>



{% endblock %}